.header {
    background-color: #251c1c;
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.header h1 {
    margin: 0px;
    height: 40px;
    color: white;
    font-family: sans-serif;
}




